@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap");

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #000 !important;
}

.content {
	border-radius: 48px;
	width: 1280px;
	height: 720px;
	overflow: hidden;
}

blockquote {
	width: 100%;
	height: 100%;
	font: 2.5em/1.5 "Sour Gummy", sans-serif;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	text-align: justify;
	mix-blend-mode: screen;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0px;
	flex-wrap: wrap;
	font-weight: 500;
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	top: 0;
	margin: 0;
	z-index: -1;
	animation: toggleColors 20s;
	animation-fill-mode: forwards;
}

#quote-text {
	width: 50%;
	max-width: 525px;
	animation: fadeIn 6s;
}

.cite {
	margin: 0;
	position: absolute;
	bottom: 50px;
	animation: fadeIn 7s;
}

#first-letter-svg {
	height: 600px;
	margin-right: -245px;
	margin-top: -80px;
	animation: fadeIn 3s;
}

#first-letter {
	font-size: 110px;
	fill: crimson;
	stroke: crimson;
	stroke-width: 1px;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	fill-opacity: 0;
	font-family: "Mea Culpa", cursive;
	font-weight: 900;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	object-fit: cover;
	z-index: -2;
	filter: brightness(0.9) contrast(1.5);
	animation: fadeIn 5s;
	transform: scale(1.3);
}

.quote-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes toggleColors {
	0% {
		background: rgba(255, 255, 255, 0.9);
		color: black;
	}
	50% {
		background: rgba(255, 255, 255, 0.9);
		color: black;
	}
	100% {
		background: rgba(0, 0, 0, 0.9);
		color: white;
	}
}
