$honeypot-size: 50px;
$honeypot-background: #94dfff;
$bee-size: 24px;

body {
  background: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  overflow: hidden;
}

#honey {
  font-size: calc(#{$honeypot-size} * .6);
  text-align: center;
  background: $honeypot-background;
  border-radius: 50%;
  display: inline-block;
  width: $honeypot-size;
  line-height: $honeypot-size;
  position: absolute;
  box-shadow: 0 0 5px darken($honeypot-background, 20%);
  z-index: 1;
  user-select: none;
  
  &:hover {
    cursor: grab;
  }
}

.bee {
  position: absolute;
  transition: top .1s, left .1s;
  z-index: 10;
  font-size: $bee-size;
  pointer-events: none;
}